@font-face {
    font-family: "TaxiDriver";
    src: url("../fonts/TaxiDriver.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    background-color: #2574a9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 60px;
}

.logo img {
    width: 320px;
}

section:nth-child(odd) {
    height: 100vh;
    background-color: #cae1f1;
}

main {
    font-size: 20px;
}

section {
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: "TaxiDriver";
    font-size: 1em;
}

section:nth-child(even) {
    height: 100vh;
    background-color: #b7d5eb;
}

.x {
    border: 2px solid red;
}

.xx {
    border: 2px solid blue;
}